{{ use('yii\widgets\ActiveForm') }}
{{ this.registerJsFile('@web/js/alias_gen.js') }}

{% set form = active_form_begin() %}
<div class="box-body">
    <div class="col-xs-5">
        {{ form.field(model, 'name', {'inputOptions': {'id': 'setting-name'}}).textInput({'maxlength': true}) | raw }}
    </div>
    <div class="col-xs-5">
        {{ form.field(model, 'alias', {'inputOptions': {'id': 'setting-alias'}}).textInput({'maxlength': true}) | raw }}
    </div>
    <div class="col-xs-8">
        {{ form.field(model, 'value').textInput({'maxlength': true}) | raw }}
    </div>
    <div class="col-xs-8">
    {{ html.submitButton(model.isNewRecord ? t('app', 'Create') : t('app', 'Update'), {'class': model.isNewRecord ? 'btn btn-success' : 'btn btn-primary'}) | raw }}
</div>
</div>
{{ active_form_end() }}
