{% set title = t('app', 'Add setting') %}
{{ set(this, 'title', title) }}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ html.encode(this.title) }}</h3>
            </div>
            {{ this.render('_form.twig', {'model': model}) | raw }}
        </div>
    </div>
</div>
