{{ use('yii/grid/GridView') }}
{% set title = t('app', 'Devices') %}
{{ set(this, 'title', title) }}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ html.encode(this.title) }}</h3>
            </div>
            <div class="box-body">
                {{ GridView_widget({
                'dataProvider': dataProvider,
                'filterModel': searchModel,
                'columns': [
                {'class': 'yii\\grid\\SerialColumn'},
                'device',
                'os',
                'os_version',
                'app_version',
                {
                'class': 'yii\\grid\\ActionColumn',
                'header': t('app', 'Actions'),
                'template': '{find-users}',
                'buttons': {
                'find-users': searchModel.getFindUsersButton()
                }
                }
                ]
                }) | raw
                }}
            </div>
        </div>
    </div>
</div>
