{{ use('yii\widgets\ActiveForm') }}
<script>
var point_create_url = '{{ path(['points/add-location-point']) }}';
var point_delete_url = '{{ path(['points/delete-location-point']) }}';
</script>
{% set form = active_form_begin({'id': 'location-form', 'enableClientValidation': false}) %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ html.encode(this.title) }}</h3>
            </div>
            <div class="box-body">
                {{ form.field(model, 'point_id', {'inputOptions': {'id': 'point-field'}}).hiddenInput().label(false) | raw }}
                <div class="col-xs-3">
                    {{ form.field(model, 'name', {'inputOptions': {'id': 'name-field'}}).textInput({'maxlength': true}) | raw }}
                </div>
                <div class="col-xs-5">
                    {{ form.field(model, 'address', {'inputOptions': {'id': 'address-field'}}).textInput({'maxlength': true}) | raw }}
                </div>
                <div class="col-xs-2">
                    {{ form.field(model, 'radius', {'inputOptions': {'id': 'radius-field'}}).textInput({'maxlength': true}) | raw }}
                </div>
                <div class="col-xs-2">
                    <label>{{ t('app', 'Allow mark?') }}</label>
                    {{ form.field(model, 'is_banned').checkbox({'id': 'ban-field'}) | raw }}
                </div>
            </div>
        </div>
    </div>
    {{ this.render('../share/location_map.twig', {'model': model}) | raw }}
</div>
{{ active_form_end() }}
