{% set title = t('app', 'Create location') %}
{{ set(this, 'title', title) }}
<script>
var debug = {{ app.params['js_debug'] }};
var default_radius = {{ this.params['settings']['default_radius'] }};
var locations_owner_id = {{ this.params['settings']['locations_owner_id'] }};
var precision = {{ this.params['settings']['precision'] }};
var pack = {};
</script>
{{ this.render('_form.twig', {'model': model}) | raw }}
{{ this.registerJsFile('@web/js/location-create.js') }}
