{% set title = t('app', 'Generate points') %}
{{ set(this, 'title', title) }}
<script>
var debug = {{ app.params['js_debug'] }};
var pack = {{ model.toJSON() | raw }};
var points = [];
var base_points = {{ points | raw }};
var points_owner_id = {{ this.params['settings']['bot_generator_id'] }};
var precision = {{ this.params['settings']['precision'] }};
var one_degree_in_meters = {{ this.params['settings']['one_degree_in_meters'] }};
var map;
var circle;
var i = 0;
var gen_options = {};
var x1 = pack.lat;
var y1 = pack.lng;
var points_bulk_add_url = '{{ path(['points/bulk-add-points']) }}';
var gen_points_url = '{{ path(['points/gen-points']) }}';
</script>
{{ this.render('../share/location_map.twig', {'points': 1}) | raw }}
{{ this.registerJsFile('@web/js/location-data.js') }}
{{ this.registerJsFile('@web/js/location-map.js') }}
{{ this.registerJsFile('@web/js/location-points.js') }}
{{ this.registerJsFile('@web/js/location-gen.js') }}
