<div class="col-md-3">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ t('app', 'Generation options') }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body" id="gen-options">
            <label>
                {{ t('app', 'Count') }}
            </label><br/>
            <input type="text" name="cnt" id="cnt" value="10"><br/>
            <label>
                {{ t('app', 'Likes percent') }} %
            </label><br/>
            <input type="text" name="likes_percent" id="likes_percent" value="90"><br/>
            <label>
                {{ t('app', 'Dislikes percent') }} %
            </label><br/>
            <input type="text" name="dislikes_percent" id="dislikes_percent" value="10"><br/><br/>
            {{
            html.button(
            t('app', 'Generate points'),
            {
            'class': 'btn btn-info',
            'id': 'gen-points-button'
            }
            ) | raw
            }}
        </div>
    </div>
</div>
