{{ use('yii/grid/GridView') }}
{% set title = t('app', 'Locations') %}
{{ set(this, 'title', title) }}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ html.encode(this.title) }}</h3>
            </div>
            <div class="box-body">
                <p>
                    {{ html.a(t('app', 'Create Location'), ['create'], {'class': 'btn btn-success'}) | raw }}
                </p>
                {{ GridView_widget({
                'dataProvider': dataProvider,
                'filterModel': searchModel,
                'columns': [
                {'class': 'yii\\grid\\SerialColumn'},
                'name',
                'address',
                'radius',
                'is_banned',
                {
                'class': 'yii\\grid\\ActionColumn',
                'header': t('app', 'Actions'),
                'template': '{view} {update} {delete} {generate-points}',
                'buttons': {
                'view': searchModel.getViewButton(),
                'update': searchModel.getUpdateButton(),
                'delete': searchModel.getDeleteButton(),
                'generate-points': searchModel.getGeneratePointsButton()
                },
                }
                ],
                }) | raw
                }}
            </div>
        </div>
    </div>
</div>
