<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ t('app', 'Points') }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body" id="points-tbl">
            <div id="points">
            </div>
            {{
            html.submitButton(
            t('app', 'Save points'),
            {
            'class': 'btn btn-success',
            'id': 'save-points-button'
            }
            ) | raw
            }}
        </div>
    </div>
</div>
