{% set title = t('app', 'Update location') %}
{{ set(this, 'title', title) }}
<script>
var debug = {{ app.params['js_debug'] }};
var pack = {{ model.toJSON() | raw }};
var old_pack = $.extend({}, pack);
var locations_owner_id = 2;
var precision = {{ this.params['settings']['precision'] }};
</script>
{{ this.render('_form.twig', {'model': model}) | raw }}
{{ this.registerJsFile('@web/js/location-update.js') }}
