{{ use('dmstr/widgets/Alert') }}
{{ use('yii/helpers/Inflector') }}
<div class="content-wrapper">
    <section class="content-header">
    {% if this.blocks['content-header'] is defined %}
    <h1>{{ this.blocks['content-header'] }}</h1>
    {% else %}
    <h1>
    {% if this.title is not null %}
    {{ html.encode(this.title) }}
    {% else %}
        {{ Inflector.camel2words(Inflector.id2camel(this.context.module.id)) }}
        {{ this.context.module.id != app.id ? '<small>Module</small>' : '' }}
    {% endif %}
</h1>
{% endif %}
</section>
<section class="content">
{{ Alert.widget() }}
{{ content | raw }}
</section>
</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
</footer>
