<header class="main-header">
    <a href="{{ app.homeurl }}" class="logo">
        <span class="logo-mini">{{ app.params['mini_id'] }}</span>
        <span class="logo-lg">{{ app.id }}</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ app.homeurl }}system_images/ava.png" class="user-image" alt="User Image"/>
                        <span class="hidden-xs">{{ app.user.identity.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="{{ app.homeurl }}system_images/ava.png" class="img-circle"
                            alt="User Image"/>
                            <p style="font-size:20pt;">
                                {{ app.user.identity.username }}
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="{{ path(['site/logout']) }}" data-method="post" class="btn btn-default btn-flat">
                                    {{ t('app', 'Sign out') }}
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
