{{ use('dmstr/widgets/Menu') }}
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ app.homeurl }}system_images/ava.png" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info" style="font-size:20pt;">
                <p>{{ app.user.identity.username }}</p>
            </div>
        </div>
        {{ Menu_widget(
            {
                'options': {'class': 'sidebar-menu'},
                'items': [
                    {'label': t('app', 'Main menu'), 'options': {'class': 'header'}},
                    {'label': t('app', 'Points'), 'icon': 'fa fa-map-marker', 'url': ['points/index']},
                    {'label': t('app', 'Locations'), 'icon': 'fa fa-globe',  'url': ['locations/index']},
                    {'label': t('app', 'Users'), 'icon': 'fa fa-street-view',  'url': ['users/index']},
                    {'label': t('app', 'Devices'), 'icon': 'fa fa-mobile',  'url': ['devices/index']},
                    {'label': t('app', 'Admins'), 'icon': 'fa fa-users',  'url': ['admins/index'], 'visible': app.user.identity.is_super},
                    {'label': t('app', 'Settings'), 'icon': 'fa fa-cogs',  'url': ['settings/index']}
                ]
            }
        ) }}
    </section>
</aside>
