{{ use('dmstr/web/AdminLteAsset') }}
{{ register_admin_lte_asset() }}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ html.csrfMetaTags | raw }}
    <title>{{ html.encode(this.title) }}</title>
    {{ void(this.head()) }}
</head>
<body class="login-page">
    {{ void(this.beginBody()) }}
    {{ content | raw }}
    {{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}
