{{ use('app/assets/AppAsset') }}
{{ use('dmstr/web/AdminLteAsset') }}
{{ register_app_asset() }}
{{ register_admin_lte_asset() }}
{% set directoryAsset = app.assetManager.getPublishedUrl('@vendor/almasaeed2010/adminlte/dist') %}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ html.csrfMetaTags | raw }}
    <title>{{ html.encode(this.title) }}</title>
    {{ void(this.head()) }}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    {{ void(this.beginBody()) }}
    <div class="wrapper">
        {{ this.render('header.twig') | raw}}
        {{ this.render('left.twig', {'directoryAsset': directoryAsset}) | raw}}
        {{ this.render('content.twig', {'content': content, 'directoryAsset': directoryAsset}) | raw }}
    </div>
    {{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}
