{{ use('yii/jui/DatePicker') }}
<div class="col-md-7">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ t('app', 'Find points') }} {{
                user ?
                t('app', 'for user') :
                (
                location ?
                t('app', 'for location') :
                t('app', 'in current location')
                ) }}
            </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-7">
                <div>{{ t('app', 'Points filtered') }}:</div>
                <div id="filtered"></div><br/>
                <div>{{ t('app', 'Points showed') }}:</div>
                <div id="showed"></div><br/>
                {% set form = active_form_begin({
                'id': 'filter-form',
                'layout': 'horizontal',
                'enableClientValidation': false
                }) %}
                {{ form.field(model, 'center_coords', {'inputOptions': {'id': 'cc-field'}}).hiddenInput().label(false) | raw }}
                {{ form.field(model, 'radius', {'inputOptions': {'id': 'radius-field'}}).hiddenInput().label(false) | raw }}
                {{ form.field(model, 'time_filter', {'inputOptions': {'id': 'time-filter-field'}}).dropDownList(model.time_filters) | raw }}
                <span id="time-range">
                    {{ form.field(model, 'from').widget('yii\\jui\\DatePicker', {'dateFormat': 'dd-MM-yyyy'}) | raw }}
                    {{ form.field(model, 'to').widget('yii\\jui\\DatePicker', {'dateFormat': 'dd-MM-yyyy'}) | raw }}
                </span>
                {% if not user %}
                {{ form.field(model, 'show_bots_points').checkbox() | raw }}
                {% endif %}
                {{ form.field(model, 'show_likes').checkbox() | raw }}
                {{ form.field(model, 'show_dislikes').checkbox() | raw }}
                {{ html.submitButton(t('app', 'Filter'), {'class': 'btn btn-primary', 'id': 'filter-btn'}) | raw}}
                {{ active_form_end() }}
            </div>
        </div>
    </div>
</div>
