{{ use('yii/grid/GridView') }}
{% set title = t('app', 'Points view') %}
{{ set(this, 'title', title) }}
{{ this.registerJsFile('@web/js/points-view-map.js') }}
<script>
var debug = {{ app.params['js_debug'] }};
var points = {{ points | raw }};
var center = {{ center | raw }};
var count = {{ count | raw }};
var current_points = [];
var one_degree_in_meters = {{ this.params['settings']['one_degree_in_meters'] }};
var precision = {{ this.params['settings']['precision'] }};
var custom_id = {{ model.time_filters | keys | last }};
</script>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ html.encode(this.title) }}</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    {{ this.render('../share/map.twig') | raw }}
                    {% if user %}
                    {{ this.render('user_info.twig', {'user': user}) | raw }}
                    {% endif %}
                    {% if location %}
                    {{ this.render('location_info.twig', {'location': location}) | raw }}
                    {% endif %}
                    {{ this.render('filters.twig', {'model': model, 'user': user ? 1 : 0}) | raw }}
                </div>
            </div>
        </div>
    </div>
</div>
