<script>
var location_pack = {
    'center': [{{ location.point.lat }}, {{ location.point.lng }}],
    'radius': {{ location.radius }}
};
</script>
<div class="col-md-7">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ t('app', 'Location info') }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-7">
                <b>{{ t('app', 'Name') }}:</b> {{ location.name }} <br/>
                <b>{{ t('app', 'Address') }}:</b> {{ location.address }}<br/>
                <b>{{ t('app', 'Radius') }}:</b> {{ location.radius }}<br/>
                <b>{{ t('app', 'Point') }}:</b><br/>
                {{ t('app', 'Lat:') }} {{ location.point.lat }}<br/>
                {{ t('app', 'Lng:') }} {{ location.point.lng }}<br/>
                <b>{{ t('app', 'Is Banned') }}:</b> {{ location.is_banned ? t('app', 'yes') : t('app', 'no') }}<br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{{ this.registerJsFile('@web/js/points-location-view.js') }}
