<script>
var first_point = {{ user.first_point | json_encode | raw }};
var last_point = {{ user.last_point | json_encode | raw }};
</script>
<div class="col-md-7">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ t('app', 'User info') }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">

                    {{ user.bigimage | raw }}

                <div class="col-md-7">
                    <b>{{ t('app', 'Uid') }}:</b> {{ user.uid }} <br/>
                    <b>{{ t('app', 'Name') }}:</b> {{ user.first_name }} {{ user.last_name }}<br/>
                    <b>{{ t('app', 'Device') }}:</b> {{ user.device }}<br/>
                    <b>{{ t('app', 'Email') }}:</b> {{ user.email }}<br/>
                    <b>{{ t('app', 'Ip') }}:</b> {{ user.ip }}<br/>
                    <b>{{ t('app', 'Likes Cnt') }}:</b> {{ user.likes_cnt }}<br/>
                    <b>{{ t('app', 'Dislikes Cnt') }}:</b> {{ user.dislikes_cnt }}<br/>
                    <b>{{ t('app', 'Is Banned') }}:</b> {{ user.is_banned ? t('app', 'yes') : t('app', 'no') }}<br/>
                    <b>{{ t('app', 'Is Admin') }}:</b> {{ user.is_admin ? t('app', 'yes') : t('app', 'no')  }}<br/>
                    <br/>
                    {% if user.first_point %}
                    {{ html.submitButton(t('app', 'Show first point'), {'class': 'btn btn-primary', 'id': 'first-point-btn'}) | raw}}
                    {{ html.submitButton(t('app', 'Show last point'), {'class': 'btn btn-primary', 'id': 'last-point-btn'}) | raw}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{{ this.registerJsFile('@web/js/points-user-view.js') }}
