{% set title = t('app', 'Sign In') %}
{{ set(this, 'title', title) }}

{% set username_field_options = {
'options': {'class': 'form-group has-feedback'},
'template': "{input}<span class='glyphicon glyphicon-envelope form-control-feedback'></span>"
}
%}

{% set password_field_options = {
'options': {'class': 'form-group has-feedback'},
'template': "{input}<span class='glyphicon glyphicon-lock form-control-feedback'></span>"
}
%}
<div class="login-box">
    <div class="login-logo">
        <b>{{ app.id }}</b>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">{{ t('app', 'Sign in to start your session') }}</p>
        {{ use('yii/widgets/ActiveForm') }}
        {% set form = active_form_begin({'enableClientValidation': false}) %}
        {{ form.field(model, 'username', username_field_options) | raw }}
        {{ form.field(model, 'password', password_field_options) | raw }}
        <div class="row">
            <div class="col-xs-8">
                {{ form.field(model, 'rememberMe').checkbox() | raw }}
            </div>
            <div class="col-xs-4">
                {{ html.submitButton(t('app', 'Sign In'), {'class': 'btn btn-primary btn-block btn-flat', 'name': 'login-button'}) | raw }}
            </div>
        </div>
        {{ active_form_end() }}
    </div>
</div>
