{% set lang = app.language|replace({'-':'_'}) %}
{% set position = constant('yii\\web\\View::POS_HEAD') %}
{{ this.registerJsFile(app.params['ya_map_api_url'] ~ '?lang=' ~ lang, {'position': position}) }}
<script>
var precision = {{ this.params['settings']['precision'] }};
</script>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ t('app', 'Map') }}</h3>
        </div>
        <div class="box-body">
            <div class="col-md-5" id="map" style="height: 600px;">
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ t('app', 'Location info') }}</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div>{{ t('app', 'Name') }}:</div>
                        <div id="name"></div><br/>
                        <div>{{ t('app', 'Address') }}:</div>
                        <div id="address"></div><br/>
                        <div>{{ t('app', 'Radius') }}:</div>
                        <div id="radius"></div><br/>
                        <div>{{ t('app', 'Point') }}:</div>
                        <div id="point"></div><br/>
                        <div>{{ t('app', 'Points in base') }}:</div>
                        <div id="base_points_cnt"></div><br/>
                        <div>{{ t('app', 'is_banned') }}:</div>
                        <div id="is_banned"></div><br/>
                        {% if model is defined %}
                        {{
                        html.submitButton(
                        model.isNewRecord ? t('app', 'Create') : t('app', 'Update'),
                        {
                        'class': model.isNewRecord ? 'btn btn-success' : 'btn btn-primary',
                        'id': 'create-button'
                        }
                        ) | raw
                        }}
                        {% endif %}
                    </div>
                </div>
                {% if points is defined %}
                {{ this.render('../locations/points.twig') | raw }}
                {% endif %}
            </div>
                {% if points is defined %}
                {{ this.render('../locations/gen_menu.twig') | raw }}
                {% endif %}
        </div>
    </div>
</div>
