{% set lang = app.language|replace({'-':'_'}) %}
{% set position = constant('yii\\web\\View::POS_HEAD') %}
{{ this.registerJsFile(app.params['ya_map_api_url'] ~ '?lang=' ~ lang, {'position': position}) }}
<script>
var map;
var default_lat = {{ this.params['settings']['default_lat'] }};
var default_lng = {{ this.params['settings']['default_lng'] }};
</script>
<div class="col-md-5" id="map" style="height: 600px;">
</div>
