{{ use('yii\widgets\ActiveForm') }}
{{ this.registerJsFile('@web/js/pass_gen.js') }}

{% set form = active_form_begin({'enableClientValidation': false}) %}
<div class="box-body">
    <div class="col-xs-8">
        {{ form.field(model, 'username').textInput({'maxlength': true}) | raw }}
    </div>
    <div class="col-xs-8">
        {% if model.isNewRecord %}
        {{ form.field(model, 'password').textInput({'maxlength': true}) | raw }}
        {% else %}
        {{ form.field(model, 'password', {'inputOptions': {'value': ''}}).textInput({'maxlength': true}).label(t('app', 'Set new password')) | raw }}
        {% endif %}
    </div>
    <div class="col-xs-3">
        <label>{{ t('app', 'Generate password') }}</label>
        <input type="button" class="btn btn-primary" onClick="generate('admins-password', 10);" value="{{ t('app', 'Generate') }}">
    </div>
    <div class="col-xs-8">
    {{ form.field(model, 'is_super').checkbox() | raw }}
</div>
<div class="col-xs-8">
{{ html.submitButton(model.isNewRecord ? t('app', 'Create') : t('app', 'Update'), {'class': model.isNewRecord ? 'btn btn-success' : 'btn btn-primary'}) | raw }}
</div>
</div>
{{ active_form_end() }}
