{{ use('yii/grid/GridView') }}
{% set title = t('app', 'Users') %}
{{ set(this, 'title', title) }}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ html.encode(this.title) }}</h3>
            </div>
            <div class="box-body">
                {{ GridView_widget({
                'dataProvider': dataProvider,
                'filterModel': searchModel,
                'columns': [
                {'class': 'yii\\grid\\SerialColumn'},
                'uid',
                {
                'attribute': 'image_id',
                'label': t('app', 'Image'),
                'format': 'raw',
                'value': 'image'
                },
                'first_name',
                'last_name',
                'email',
                'is_banned',
                'is_admin',
                'ip',
                {
                'attribute': 'device_search',
                'label': t('app', 'Device'),
                'value': 'device'
                },
                'likes_cnt',
                'dislikes_cnt',
                {
                'class': 'yii\\grid\\ActionColumn',
                'header': t('app', 'Actions'),
                'template': '{view-points} {make-admin} {toggle-ban}',
                'buttons': {
                'view-points': searchModel.getViewButton(),
                'make-admin': searchModel.getMakeAdminButton(),
                'toggle-ban': searchModel.getToggleBanButton()
                }
                }
                ]
                }) | raw
                }}
            </div>
        </div>
    </div>
</div>
